<div class="navbar">
    <div class="top">
        <mat-icon>notifications_none</mat-icon>
    </div>
    <div class="user">
        <img src="" alt="">
        <h4 class="name">Admin</h4>
        <p class="mail">www.ganakalabs.com</p>
    </div>

    <div class="menu">
        <div class="menu-head">
            <span>Dashboard</span>
        </div>
        <div class="menu-item">
            <button mat-button class="menu-button" routerLink="/dashboard">
                <mat-icon>dashboard</mat-icon>
                <Span>Home</Span>
            </button>
            <button mat-button class="menu-button" routerLink="/dashboard/holidays">
                <mat-icon>toc</mat-icon>
                <span>Holidays</span>
            </button>
            <button mat-button class="menu-button" routerLink="/dashboard/employees">
                <mat-icon>account_box</mat-icon>
                <span>Employees</span>
            </button>
            <button mat-button class="menu-button">
                <mat-icon>perm_contact_calendar</mat-icon>
                <span>Attendence</span>
            </button>
            <button mat-button class="menu-button">
                <mat-icon>create</mat-icon>
                <span>Create Attendence</span>
            </button>

        </div>
    </div>
</div>